/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: 'wght' var(--wght-text);
  font-size: 18px;
  background: var(--bg);
  color: var(--accent-color);
  background-color: var(--bg);
  background-image: var(--bg-img);
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  place-items: start center;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--width);
  background-color: var(--bg);
  font-family: var(--accent-font);
  font-weight: 400;
  text-transform: uppercase;
  color: currentColor;
  margin-block-start: 100px;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
  padding-block-end: 21px;
  padding-inline: clamp(0.875rem, 9.953vw - 1.458rem, 7.5rem);
  }

.logo {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
}

.theme-menu {
  flex-grow: 1;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 13px;
  transform: translateX(9px);
}

.theme-menu__item {
  position:relative;
  display: flex;
  justify-content: left;
}

.theme-menu__button {
  background: transparent;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: opacity 0.3s ease;
  align-self: flex-start;
}

.theme-menu__button:disabled {
  opacity: 0.6;
}

.theme-menu__button:disabled::before {
  content: '▶';
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(-20px);
  animation: arrow 0.5s ease-in-out infinite alternate-reverse;
  transform-origin:left 50%;
}

.theme-menu__button::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  transform-origin:left 50%;
  transform: scaleX(0);
  background-color: currentColor;
  transition: transform 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

.theme-menu__button:hover {
  opacity: 0.6;
}

.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button:focus-visible {
  opacity: 0.6;
}

.wrapper {
  width: var(--width);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font);
  font-size: inherit;
  font-variation-settings: 'wght' var(--wght-text);
  gap: 50px;
  background-color: transparent;

}

.post {
  display: flex;
  flex-direction: column;
  background-color: var(--bg);
  border: 2px solid currentColor;
}

.post-title {
  font-variation-settings: 'wght' var(--wght-bold);
  font-size: inherit;
  line-height: 1.21;
  border-block-end: 2px solid currentColor;
  padding: 3px 10px 4px;
}

.wrapper-img {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}

.label-text {
  position: absolute;
  z-index: 1;
  inset-block-start: 25px;
  inset-inline-end: 25px;
  font-family: var(--accent-font);
  font-weight: var(--wght-text);
  font-size: 14px;
  text-transform: uppercase;
  color: currentColor;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--stroke-color), 0 1px var(--stroke-color), 1px 0 var(--stroke-color), 0 -1px var(--stroke-color);
}

@supports ((text-stroke: 1px var(--stroke-color)) or (-webkit-text-stroke: 1px var(--stroke-color))) {
  .label-text {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.card-image {
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 0;
}

.filter_invert-hue-rotate {
  filter: invert(1) hue-rotate(277deg);
}

.filter_sepia-saturate-brightness {
  filter: sepia(0.8) saturate(200%) brightness(0.5);
}

.filter_saturate-hue-rotate {
  filter: saturate(180%) hue-rotate(-70deg);
}

.fiter_brightness-hue-rotate {
  filter: brightness(200%)  hue-rotate(90deg);
}

.filter_blur {
  filter: blur(0.2rem);
}

.filter_opacity {
  filter: opacity(0.8)
}

.filter_grayscale-hue-rotate {
  filter: grayscale(0.7) hue-rotate(-125deg);
}

.filter_contrast-hue-rotate {
  filter: contrast(110%) hue-rotate(90deg);
}

.card-content {
  border-block-start: 2px solid currentColor;
  padding: 25px;
  font-size: inherit;
  font-weight: inherit;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.content-paragraths {
  display: flex;
  flex-direction: column;
  gap: 27px;
  line-height: 117%;
}

.buttons {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 4px;
}

.card__icon-button {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  padding: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.card__icon-button:focus-visible {
  display: flex;
  align-items: center;
  justify-content: center;
  min-block-size: 38px;
  border-color: var(--accent-color);
}

.like-icon {
  width: 39px;
  height: 36px;
}

.sparks {
  opacity: 0;
}

.core {
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  transition: fill 0.3s linear,
}

.like-icon .contour {
  fill: var(--heart-contour);
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--heart-contour);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-contour);
  transition: fill  0.3s 0.05s linear;
}

.like-icon:active .core {
  fill: var(--heart-fill);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--heart-fill);
  transition: fill  0.3s 0.05s linear;
}

.like-icon.is-liked .core {
  fill: var(--heart-fill);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-fill);
  transition: fill 0.3s 0.03s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-fill);
  transition: fill  0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  transform-origin: 50%;
  animation: heart_scale 0.3s 0.1s ease-in alternate;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in alternate;
}

.card__like-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 130px;
  min-height: 38px;
  border: 2px solid currentColor;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: var(--bg);
  cursor: pointer;
  transition: color 0.5s ease-in-out;
}

.card__like-button:focus, .floppy-button:focus, .button__ok:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s ease;
}

.card__like-button::after, .floppy-button::after, .button__ok::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  background-color: var(--accent-color);
  width: 100%;
  height: 100%;
  inset: 0;
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::after, .floppy-button:hover::after, .button__ok:hover::after {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.button__text {
  display: flex;
  font-family: var(--accent-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
  color: var(--btn-text-color);
  z-index: 2;
  mix-blend-mode: difference;
}

.footer {
  margin-block-start: 50px;
  margin-block-end: 100px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  color: currentColor;
}

.floppy-button {
  display: flex;
  position: relative;
  z-index: 0;
  overflow: hidden;
  gap: 8px;
  align-items: center;
  background-color: var(--bg);
  justify-content: center;
  border: 2px solid currentColor;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  inline-size: clamp(19.125rem, 2.723vw + 18.487rem, 20.938rem);
  block-size: 55px;
}

.floppy-icon {
  position: relative;
  z-index: 2;
  width: 21px;
  height: 21px;
  color: var(--btn-text-color);
  mix-blend-mode: difference;
}

.dialog {
  width: clamp(21.313rem, 1.127vw + 21.048rem, 22.063rem);
  padding: 30px;
  line-height:1.5;
  text-transform: uppercase;
  border: 2px solid var(--accent-color);
  background-color: var(--bg);
  color: var(--accent-color);
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog-icon {
  inline-size: 39px;
  block-size: 39px;
}

.dialog-content {
  display: flex;
  gap: 20px;
  align-items: center;
  line-height: 150%;
  text-transform: uppercase;
  margin-block-end: 30px;
}

.dialog-label {
  display: flex;
  max-width: 198px;
  font-size: 14px;
  font-weight: 400;
}

.button__ok {
  position: relative;
  min-height: 38px;
  width: 100%;
  display: flex;
  padding-block: 10px;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--accent-color);
  background-color: var(--bg);
  text-transform: uppercase;
  cursor: pointer;
}

@media (width <= 375px) {
  .floppy-button {
    flex-direction: column;
    block-size: 80px;
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
  }

  .label-text {
    inset-inline-end: 13px;
  }

  #dialog-id {
    padding: 30px 40px;
  }
}
